*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background:linear-gradient(rgb(190, 67, 67) 0%, rgb(251, 167, 11) 25%, rgb(251, 251, 2) 50%, green 75%, blue 100%);
}

.box{
    height: 400px;
    width: 500px;
    background-color: white;
    border-radius: 6px;
}

.info{
    width: 100%;
    height: 200px;
    /* display: flex; */
    /* flex-direction: column; */
}

input{
    width: 62%;
    height: 35px;
    margin-top: 15px;
    border-radius: 5px;
}
.btn{
    display: flex;
    justify-content: space-evenly;

}

button{
    width: 100px;
    height: 35px;
    margin-top: 30px;
    font-size: 1rem;
    font-weight: bold;
    background-color: rgb(9, 9, 44);
    color: white;
    border-radius: 5px;
}

.para{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 15px;
    flex-direction: column;
    padding: 35px;
    /* align-items: center; */
}